{% extends 'base_artex.html.twig' %}
{% block body %}
	{% include 'navbar.html.twig' %}
	<nav class="col-12 navbar navbar-expand-lg navbar-light bg-light p-0">
		{{ render(path('category_index')) }}
	</nav>
	{% include 'home/gallery.html.twig' %}
{% endblock %}