{# templates/product/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}
	<div class="container py-4 d-flex justify-content-center">
		<div class="w-75">
			<h1 class="mb-4">Produkty</h1>
			{{ include('product/product_list.html.twig', {
				products: products,
				page: page,
				total_pages: total_pages,
				route_name: 'product_index'
			}) }}
		</div>
	</div>
{% endblock %}
