{% set cartCount = cart_count|default(0) %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
	<div class="container-fluid px-0">
		<div class="row w-100 g-0">
			{# ROW 1: 25% - 50% - 25% #}
			
			<div class="col-3 d-flex align-items-center justify-content-center">
				<a class="text-decoration-none fw-semibold" href="{{ path('app_home') }}">
					<img src="{{ asset('images/Artex.svg') }}" alt="Artex" height="64">
				</a>
			</div>
			

			<div class="col-6 d-flex align-items-center justify-content-center">
				<div style="width: min(100%, 52%);">
					{% include 'searchbar.html.twig' %}
				</div>
			</div>

			<div class="col-3 d-flex align-items-center justify-content-center" style="height: 100%;">
				{% include 'navbar_buttons.html.twig' %}
			</div>			
		</div>
	</div>
</nav>
