<div 
	style="
		align-self: stretch;
		border-radius: 30px; 
		background-image: url('{{ asset('images/bg1.jpg') }}'); 		
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	"
	class="d-flex flex-column justify-content-center"
>
	<img src="{{ asset('images/Artex2.svg') }}" alt="Artex" height="40" class="position-absolute" style="top: 30px; left: 30px;">
	<h1 class="h-title display-2 p-3 mx-5" style="color: white;">Witaj ponownie!</h1>
	{% block content %}{% endblock %}
</div>